<div id="<%= dom_id news %>">
  <p>
    <%= image_tag news.image, class:"w-25"  %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= news.description %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= news.user.email %>
  </p>

</div>
