<div id="<%= dom_id news %>">
  <p>
    <strong>Imagen:</strong>
    <%= news.image %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= news.description %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= news.user_id %>
  </p>

</div>
